/inet4.4
/.metadata
*.exe
/simulazione_tutorial_1/.ipynb_checkpoints
/simu_block/.ipynb_checkpoints
/simu_block/results/
*.lnk
*.sca
*.vec
*.vci

Progetto_SdS/src/results/General_1/vectors_1.csv
Progetto_SdS/src/results/General_2/scalars_2.csv
Progetto_SdS/src/results/General_2/vectors_2.csv
Progetto_SdS/src/results/General_1/scalars_1.csv
