/inet4.4
/.metadata
*.exe
/simulazione_tutorial_1/.ipynb_checkpoints
/simu_block/.ipynb_checkpoints
/simu_block/results/
*.lnk
/Progetto_SdS/src/results/
*.sca
*.vec
*.vci
Progetto_SdS/src/results_run_2/results_run_2_100/.ipynb_checkpoints/Analisi run 2_100-checkpoint.ipynb
Progetto_SdS/src/results_run_2/.ipynb_checkpoints/Analisi run 2-checkpoint.ipynb
Progetto_SdS/src/results_run_1/results_run_1_100/.ipynb_checkpoints/Analisi run 1_100-checkpoint.ipynb
Progetto_SdS/src/results_run_1/.ipynb_checkpoints/Analisi run 1-checkpoint.ipynb
Progetto_SdS/src/results_convalida/.ipynb_checkpoints/Analisi run convalida-checkpoint.ipynb
